﻿
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
}

<div id="container"></div>

